* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  /* background-color: #121214;
  background-image: var(--bg);
  background-position-x: center;
  background-repeat: no-repeat; */

  background: #121214 var(--bg) repeat-y top center;
}

body * {
  font-family: "Roboto", sans-serif;
}

/* -------- tranformações de custom colors website */
:root {
  --color-border-title-card: #746615;
  --color-borderbottom-card: #f7dd43;
  --color-bg-card: #1d1c19;
  --bg: url(./assets/bg/bg-fut-ofc.jpeg);
}

body.green {
  --color-border-title-card: #047c3f;
  --color-borderbottom-card: #047c3f;
  --color-bg-card: #1a1f1b;
  --bg: url(./assets/bg/bg-green.svg);
}

body.blue {
  --color-border-title-card: #338af3;
  --color-borderbottom-card: #338af3;
  --color-bg-card: #202824;
  --bg: url(./assets/bg/bg-blue.svg);
}

/* --------------------------------------------- */

#app {
  width: fit-content;
  margin: auto;
  padding-top: 52px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 63px;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  opacity: 0;
  animation: appear 1s forwards;
}

#logo img:hover {
  transform: scale(1.1);
}

#logo img {
  transition: transform 0.3s;
  animation-delay: .4s;
}

#logo img {
  transition: transform 0.3s;
  animation-delay: 0.4s;
}

#logo-copa {
  width: 200px;
  height: 200px;
}

#logo-cbf {
  width: 300px;
  height: 170px;
}


#cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

#cards img {
  width: 50px;
  height: 50px;
}

.card {
  padding: 32px 23px;
  text-align: center;

  background: var(--color-bg-card);
  border-bottom: 2px solid var(--color-borderbottom-card);
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.card h2 {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;

  padding: 8px 16px;
  border: 1px solid var(--color-border-title-card);
  border-radius: 6px;

  width: fit-content;
  margin-inline: auto;
  margin-bottom: 53px;

  color: #f7dd43;
}

.card span {
  color: #e1e1e6;
  font-size: 14px;
  text-transform: uppercase;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 270px;
}

.card ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card ul li+li {
  padding-top: 24px;
  border-top: 1px solid #323238;
}

.card ul li strong {
  font-weight: 900;
  font-size: 36px;
  line-height: 125%;

  color: #e1e1e6;
}

/* animação ao passar o mouse em cima */
.card h2:hover,
.card ul li strong:hover,
.card ul li img:hover {
  transform: scale(1.1);
}

/* configuração do hover e sua transição */
.card h2,
.card ul li strong,
.card ul li img {
  /* faz trasição com os itens deixando mais leves */
  transition: transform 0.3s;
}

.card {
  /* animação de aparecer devagar */
  opacity: 0;
  animation: appear 1s forwards;
  /*mantem opções de 100% do keyframe */
}

/* atrule - regras gerais de animação*/
@keyframes appear {
  0% {
    /* inicia o site puxando de cima pra baixo */
    transform: translateY(-50px);
    /* deixa embassado no inicio */
    opacity: 0;
  }

  100% {
    /* deixa tudo claro e nitido */
    opacity: 1;
  }
}

/* ----------------RESPOSIVIDADE---------------- */

@media (max-width: 540px) {
  #cards {
    padding-left: 25px;
    max-width: 460px;
    flex-direction: column;
  }
}

@media (min-width: 700px) {
  #cards {
    max-width: 670px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 1100px) {
  #cards {
    max-width: 1025px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}